<h2>Sign in!</h2>

<form action="/sessions/create" method="post">
  <p>
    <label>
      <span>Username</span>
      <input type="text" name="username" value="<%= params[:username] %>" />
    </label>
  </p>
  <p>
    <label>
      <span>Password</span>
      <input type="password" name="password" value="" />
    </label>
  </p>

  <p>
    <input type="submit" value="Sign in!" />
  </p>
</form>