<% if @user.errors.size > 0 %>
<div class="error_explanation">
  <p>Per favore correggi:</p>
  <ul>
    <% for error in @user.errors.full_messages %>
    <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% end %>
<p>
  <label>
    <span>Username</span>
    <input type="text" name="user[username]" value="<%= @user.username %>" />
  </label>
</p>
<p>
  <label>
    <span>Email</span>
    <input type="text" name="user[email]" value="<%= @user.email %>" />
  </label>
</p>
<p>
  <label>
    <span>Password</span>
    <input type="password" name="user[password]" value="" />
  </label>
</p>
<p>
  <label>
    <span>Confirm</span>
    <input type="password" name="user[password_confirmation]" value="" />
  </label>
</p>
