<!DOCTYPE html>
<html>
<head>
  <title>Quotes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
    <h1>Quotes database</h1>
    <p id="navigation">Home / Latest / Random / 0-99 / 100-199 / 200-299 </p>
    
    <%= yield %>    
  </div>
</body>
</html>
