<!DOCTYPE html>
<html>
<head>
  <title>Quotes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div id="page">
    <h1>Quotes Database</h1>
    <p id="navigation">Home / 10 Random / 0-49 / 50-99 / 100-149 / 150-199 </p>
        
    <%= yield %>    
    
  </div>
</body>
</html>
