<ul class="tweets">
  <% for tweet in tweets %>
  <li>
    <div class="tweet">
      <div class="header">
        <%= link_to tweet.user, "/users/#{tweet.user.id}" %>
        <span class="when"><%= time_ago_in_words(tweet.created_at) %></span>
      </div>
      <p class="text">
        <%= tweet.text %>
      </p>
    </div>
  </li>
  <% end %>
</ul>
